# ==========================
# Logs
# ==========================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ==========================
# Dependencies
# ==========================
node_modules/

# ==========================
# React / Vite
# ==========================
dist/
dist-ssr/
.vite/
*.local

# ==========================
# Java / Spring Boot
# ==========================
target/
*.class

# ==========================
# Environment Files
# ==========================
.env
.env.*

# ==========================
# IDE Files
# ==========================
.vscode/*
!.vscode/extensions.json

.idea/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Visual Studio
# ==========================
*.suo
*.ntvs*
*.njsproj
*.sln

# ==========================
# Temporary Files
# ==========================
*.sw?
*.tmp